<div class="layui-form" lay-filter="layuiadmin-form-grade" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">年级名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入年级名称" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="LAY-admin-grade-submit" value="确认" class="layui-btn">
        </div>
    </div>
</div>