<title>设置我的资料</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>信息管理</cite></a>
        <a><cite>个人教师信息</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">修改个人教师信息</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form" lay-filter="layuiadmin-form-teacher" style="padding: 20px 0 0 0;">
                        <div class="layui-form-item">
                            <label class="layui-form-label">工号<font color="red">*</font></label>
                            <div class="layui-input-inline">
                                <input type="text" name="number" value="" lay-verify="required" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名<font color="red">*</font></label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" value="" lay-verify="required" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">性别<font color="red">*</font></label>
                            <div class="layui-input-inline">
                                <select name="sex" lay-verify="required" autocomplete="off">
                                    <option value="">请选择性别</option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">联系方式（手机）</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" value="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-inline">
                                <input type="button" lay-submit lay-filter="LAY-teacher-teacher-submit" value="确认" class="layui-btn">
                                <label class="">注意：<font color="red">*</font>为必填项</label>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">查看我管理的班级</label>
                            <div class="layui-btn-container" id="classes-button">
<!--                                <script type="text/html" template-->
<!--                                        lay-url="{{layui.setter.userRole.teacher.api + '/teacher/' + d.params.id + '/classes'}}"-->
<!--                                        lay-done="layui.data.done(d);">-->
<!--                                    {{# layui.each(d.data, function(index, item) { }}-->
<!--                                    <button class="layui-btn class-id layui-btn-primary" id="class-id-{{item.id}}">-->
<!--                                        {{item.abbr_name}}-->
<!--                                    </button>-->
<!--                                    {{#  }); }}-->
<!--                                </script>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , form = layui.form
            , setter = layui.setter
            , view = layui.view
        ;

        admin.req({
            url: setter.userRole.teacher.api + '/info'
            , type: 'GET'
            , dataType: 'json'
            , done: function (res_p) {
                // console.log(res_p);
                var data = res_p.data;
                form.val('layuiadmin-form-teacher', {
                    number: data.number,
                    name: data.name,
                    sex: data.sex,
                    phone: data.phone || '',
                });
            }
        });

        // form.render();

        form.on('submit(LAY-teacher-teacher-submit)', function (data) {
            // console.log(data.field);
            admin.req({
                url: setter.userRole.teacher.api + '/info'
                , type: 'PUT'
                , data: JSON.stringify(data.field)
                , contentType: 'application/json'
                , dataType: 'json'
                , done: function (res_p) {
                    layer.msg(res_p.msg, {
                        offset: '15px'
                        ,icon: 1
                        ,time: 1000
                    });
                }
            });
        });

        admin.req({
            url: setter.userRole.teacher.api + '/myClasses'
            , type: 'GET'
            , dataType: 'json'
            , done: function (res_p) {
                layui.each(res_p.data, function(index, item) {
                    let html = '<button class="layui-btn class-id layui-btn-primary" id="class-id-' + item.id + '">' + item.abbr_name + '</button>';
                    $('#classes-button').append(html);
                });
                $('.layui-btn.class-id').on('click', function () {
                    let classId = getClassIdByButtonId(this.id);
                    admin.req({
                        url: setter.userRole.teacher.api + '/class/' + classId
                        , type: 'GET'
                        , dataType: 'json'
                        , done: function (res_p) {
                            admin.popup({
                                title: '班级信息'
                                , area: ['400px', '350px']
                                , success: function (layero, index) {
                                    view(this.id).render('teacher/class/look_form', res_p.data);
                                }
                            });
                        }
                    });
                });
            }
        });
    });
    function getClassIdByButtonId(buttonId) {
        let _data = buttonId.split('-');
        return parseInt(_data.pop());
    }
</script>
