<div class="layui-form" lay-filter="layuiadmin-form-class" style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">缩写名称</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="abbr_name" value="{{ d.params.abbr_name || '' }}"  autocomplete="off" class="layui-input" readonly>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">年级</label>
        <div class="layui-inline">
            <script type="text/html" template>
                <input type="text" name="grade_name" value="{{ d.params.grade_name || '' }}"  autocomplete="off" class="layui-input" readonly>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属专业</label>
        <div class="layui-inline">
            <script type="text/html" template>
                <input type="text" name="major_name" value="{{ d.params.major_name || '' }}"  autocomplete="off" class="layui-input" readonly>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级号</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="num" value="{{ d.params.num || '' }}"  placeholder="请输入班级号(数字)" autocomplete="off" class="layui-input" readonly>
            </script>
        </div>
    </div>
</div>
