<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-class-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">ID</label>
                    <div class="layui-input-block">
                        <input type="text" name="id_before" placeholder="请输入起始ID" autocomplete="off" class="layui-input">
                        <input type="text" name="id_after" placeholder="请输入结束ID" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">缩写名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="abbr_name" placeholder="请输入班级缩写名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">年级</label>
                    <div class="layui-input-block">
                        <script type="text/html" template lay-url="{{layui.setter.userRole.teacher.api + '/grade'}}"
                                lay-done="class_done(d);">
                            <select name="grade_id" lay-search>
                                <option value="">请选择年级</option>
                                {{# layui.each(d.data, function(index, item) { }}
                                <option value="{{item.id}}">{{item.name}}</option>
                                {{#  }); }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">所属专业</label>
                    <div class="layui-input-block">
                        <input type="hidden" id="LAY-teacher-major-id" name="major_id" value="" autocomplete="off" class="layui-input">
                        <button class="layui-btn layuiadmin-btn-useradmin" data-type="major">
                            <p id="LAY-teacher-major-name">请选择专业</p>
                        </button>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-teacher-class-list-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <table id="LAY-teacher-class-radio-list" lay-filter="LAY-teacher-class-radio-list"></table>
        </div>
        <div class="layui-card-body">
            <button class="layui-btn layuiadmin-btn-useradmin" id="LAY-teacher-class-radio-list-select">
                确定
            </button>
        </div>
    </div>
</div>

<script>
    layui.use('laydate', function () {
        const laydate = layui.laydate;
        lay('.date-item').each(function () {
            laydate.render({
                elem: this
                ,type: 'datetime'
            });
        });

    });
    layui.use('teacher/class', layui.factory('teacher/class')).use(['admin', 'teacher/class', 'table'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,table = layui.table
            ,form = layui.form
            ,setter = layui.setter;

        form.render(null, 'layadmin-class-formlist');

        //监听搜索
        form.on('submit(LAY-teacher-class-radio-list-search)', function(data){
            var field = data.field;
            // console.log(111);
            //执行重载
            table.reload('LAY-teacher-class-radio-list', {
                where: field
            });
        });

        var active = {
            grade: function () {
                admin.popup({
                    title: '选择年级'
                    ,area: ['900px', '700px']
                    ,id: 'LAY-teacher-grade-select'
                    ,success: function (layero, index) {
                        view(this.id).render('teacher/grade/radio_list').done(function () {
                            $('#LAY-teacher-grade-radio-list-select').click(function () {
                                var gradeData = (table.checkStatus('LAY-teacher-grade-radio-list').data)[0];
                                if (gradeData) {
                                    $('#LAY-teacher-grade-name').html(gradeData.name);
                                    $('#LAY-teacher-grade-id').val(gradeData.id);
                                    layer.close(index);
                                } else {
                                    $('#LAY-teacher-grade-name').html('请选择学院');
                                    $('#LAY-teacher-grade-id').val('');
                                    layer.close(index);
                                }
                            })
                        });
                    }
                });
            },
            major: function () {
                admin.popup({
                    title: '选择专业'
                    ,area: ['900px', '700px']
                    ,id: 'LAY-teacher-major-select'
                    ,success: function (layero, index) {
                        view(this.id).render('teacher/major/radio_list').done(function () {
                            $('#LAY-teacher-major-radio-list-select').click(function () {
                                var gradeData = (table.checkStatus('LAY-teacher-major-radio-list').data)[0];
                                if (gradeData) {
                                    $('#LAY-teacher-major-name').html(gradeData.name);
                                    $('#LAY-teacher-major-id').val(gradeData.id);
                                    layer.close(index);
                                } else {
                                    $('#LAY-teacher-major-name').html('请选择专业');
                                    $('#LAY-teacher-major-id').val('');
                                    layer.close(index);
                                }
                            })
                        });
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });


    var class_done = function (d) {
        layui.use(['form'], function(){
            var form = layui.form;
            form.render();
        });
    };
</script>